In [1]:
import pandas as pd
import numpy as np
#Create a DataFrame
d = {

    'countries':['A','B','C'],
    'population_in_million':[100,200,120],
    'gdp_percapita':[2000,7000,15000]
    }
df = pd.DataFrame(d,columns=['countries','population_in_million','gdp_percapita'])
df

  countries  population_in_million  gdp_percapita
0         A                    100           2000
1         B                    200           7000
2         C                    120          15000

In [2]:
df2=pd.melt(df,id_vars=['countries'],var_name='metrics', value_name='values')
df2

  countries                metrics  values
0         A  population_in_million     100
1         B  population_in_million     200
2         C  population_in_million     120
3         A          gdp_percapita    2000
4         B          gdp_percapita    7000
5         C          gdp_percapita   15000

In [4]:
import pandas as pd
HIV_df = pd.read_csv('HIV_US_wide.csv')
HIV_df

,FIPS,Rate.2012,Rate.2013,Rate.2014,Rate.2015,Rate.2016,Rate.2017,Rate.2018
0,1001,15.50,7.24,15.40,11.00,10.90,21.60,7.17
1,1003,7.50,6.70,9.50,8.80,8.00,6.10,5.40
2,1005,14.71,14.77,11.16,11.33,15.41,15.83,28.30
3,1007,17.70,0.00,13.33,17.71,17.67,25.90,17.63
4,1009,6.92,5.18,6.93,10.40,6.93,6.90,5.14
...,...,...,...,...,...,...,...,...
3132,56037,0.00,6.63,8.89,6.72,0.00,9.19,9.15
3133,56039,13.84,17.96,0.00,0.00,12.94,0.00,17.17
3134,56041,0.00,0.00,0.00,0.00,19.26,0.00,0.00
3135,56043,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3136,56045,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [5]:
HIV_df2=pd.melt(HIV_df,id_vars=['FIPS'],var_name='metrics', value_name='values')
HIV_df2

        FIPS    metrics  values
0       1001  Rate.2012   15.50
1       1003  Rate.2012    7.50
2       1005  Rate.2012   14.71
3       1007  Rate.2012   17.70
4       1009  Rate.2012    6.92
...      ...        ...     ...
21954  56037  Rate.2018    9.15
21955  56039  Rate.2018   17.17
21956  56041  Rate.2018    0.00
21957  56043  Rate.2018    0.00
21958  56045  Rate.2018    0.00

[21959 rows x 3 columns]

In [20]:
HIV_df3 = pd.read_csv('hiv_multiple_wide.csv')
HIV_df3

,geoid,2012_Health Care Center (/100k pop),2013_Health Care Center (/100k pop),2014_Health Care Center (/100k pop),2015_Health Care Center (/100k pop),2016_Health Care Center (/100k pop),2017_Health Care Center (/100k pop),2018_Health Care Center (/100k pop),2012_Rate of Illicit Drug Use,2013_Rate of Illicit Drug Use,...,2016_Rate of Illicit Drug Use,2017_Rate of Illicit Drug Use,2018_Rate of Illicit Drug Use,2012_HIV Rate,2013_HIV Rate,2014_HIV Rate,2015_HIV Rate,2016_HIV Rate,2017_HIV Rate,2018_HIV Rate
0,1001,3.796153,3.805350,3.800229,3.801876,3.799508,3.796495,3.993171,11.460199,11.434055,...,11.332853,11.732936,12.168999,15.50,7.24,15.40,11.00,10.90,21.60,7.17
1,1003,2.507915,2.477267,2.448810,2.427088,2.398678,2.743151,2.958864,11.460199,11.434055,...,11.332853,11.732936,12.168999,7.50,6.70,9.50,8.80,8.00,6.10,5.40
2,1005,6.641990,6.657304,6.680661,6.730663,6.798240,6.891091,7.031839,11.460199,11.434055,...,11.332853,11.732936,12.168999,14.71,14.77,11.16,11.33,15.41,15.83,28.30
3,1007,4.207311,4.215246,4.215808,5.951880,5.943989,5.940711,6.098635,11.460199,11.434055,...,11.332853,11.732936,12.168999,17.70,0.00,13.33,17.71,17.67,25.90,17.63
4,1009,2.630077,2.629031,2.632514,2.633563,2.632856,2.625834,2.843667,11.460199,11.434055,...,11.332853,11.732936,12.168999,6.92,5.18,6.93,10.40,6.93,6.90,5.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3132,56037,0.000000,0.000000,0.000000,2.993891,3.009476,4.286775,4.474590,6.993015,6.931472,...,7.275172,7.427144,7.522400,0.00,6.63,8.89,6.72,0.00,9.19,9.15
3133,56039,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.265288,6.993015,6.931472,...,7.275172,7.427144,7.522400,13.84,17.96,0.00,0.00,12.94,0.00,17.17
3134,56041,4.361763,4.357516,4.374368,4.382973,4.388139,4.417800,4.603247,6.993015,6.931472,...,7.275172,7.427144,7.522400,0.00,0.00,0.00,0.00,19.26,0.00,0.00
3135,56043,6.874516,6.874923,6.932919,6.930421,6.969445,7.042952,7.180956,6.993015,6.931472,...,7.275172,7.427144,7.522400,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3136,56045,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.265288,6.993015,6.931472,...,7.275172,7.427144,7.522400,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [21]:
HIV_df4=pd.melt(HIV_df3,id_vars=['geoid'],var_name='metrics', value_name='values')
HIV_df4

       geoid                              metrics     values
0       1001  2012_Health Care Center (/100k pop)   3.796153
1       1003  2012_Health Care Center (/100k pop)   2.507915
2       1005  2012_Health Care Center (/100k pop)   6.641990
3       1007  2012_Health Care Center (/100k pop)   4.207311
4       1009  2012_Health Care Center (/100k pop)   2.630077
...      ...                                  ...        ...
65872  56037                        2018_HIV Rate   9.150000
65873  56039                        2018_HIV Rate  17.170000
65874  56041                        2018_HIV Rate   0.000000
65875  56043                        2018_HIV Rate   0.000000
65876  56045                        2018_HIV Rate   0.000000

[65877 rows x 3 columns]

In [22]:
HIV_df4.to_csv('HIV_US_multiple_long.csv')